$dark-grey: #263238;
$light-grey: #f8f7fb;
$main-purple: #8768c8;
$text-grey: #455a64;
$text-purple: #634564;
$bright_white: #ffffff;
$text-white: #f9f7fc;
$text-light-grey: #c4c4c4;
$background-grey: #e5e5e5;
